<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFMailService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63487/WCFMailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFMailService"
                contract="MailReference.IWCFMailService" name="BasicHttpBinding_IWCFMailService" />
        </client>
    </system.serviceModel>
</configuration>