<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="loggerUseEventViewer" value="False"/>
    <add key="loggerSource" value="Eldan services scheduler"/>
    <add key="loggerLogID" value="444"/>
    <add key="loggerUseFileSystem" value="True"/>
    <add key="loggerFilePath" value="D:\Logs\ServicesSchedulerLog.txt"/>
    <!--1 - Vertical, 2 -horizontal-->
    <add key="loggerFileWriteMode" value="2"/>
    <add key="loggerLogErrorMessages" value="True"/>
    <add key="loggerLogWarningMessages" value="True"/>
    <add key="loggerLogInformationMessages" value="True"/>
    
    <add key="SchedulerConfigXML" value="C:\Main\Eldan.ServicesScheduler\Eldan.ServicesScheduler\SchedulerConfig.xml"/>
    <add key="SendTimeoutMinutes" value="20"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
